/* <-- My Profile --> */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height:100vh;
    background: linear-gradient(135deg,#6fb1fc,#4364f7);
}

.profile-container {
    max-width: 500px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
}

.profile-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.profile-field {
    margin-bottom: 15px;
}

.profile-field label {
    font-size: 14px;
    color: #555;
}

.profile-field p {
    font-size: 16px;
    font-weight: 500;
}

.delete-btn {
    background: #ff4d4d;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}

.delete-btn:hover {
    background: #e60000;
}

.back-home-btn {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #2874f0;
    font-weight: 500;
}

.back-home-btn:hover {
    text-decoration: underline;
}
