*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    min-height:100vh;
    background: linear-gradient(135deg,#6fb1fc,#4364f7);
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:#fff;
    width:350px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    margin-bottom:15px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:12px;
    border:1px solid #ddd;
    border-radius:6px;
    outline:none;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#4364f7;
    color:#fff;
    font-size:15px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#354de3;
}

.msg{
    padding:10px;
    border-radius:5px;
    margin-bottom:10px;
    font-size:14px;
}

.error{
    background:#ffe1e1;
    color:#b30000;
}

.success{
    background:#e0ffe5;
    color:#0a7a32;
}

.link{
    text-align:center;
    margin-top:10px;
    font-size:14px;
}

.link a{
    color:#4364f7;
    text-decoration:none;
}

@media(max-width:480px){
    .card{
        width:90%;
    }
}


/* <-- Product Details --> */
.details-wrapper{
    max-width:1400px;
    margin:40px auto;
    background:#fff;
    padding:50px;
    border-radius:14px;
    box-shadow:0 12px 35px rgba(0,0,0,.12);
}
.details-container{
    display:flex;
    gap:60px;
}

/* IMAGE */
.image-zoom{
    width:500px;
    height:500px;
    overflow:hidden;
    background:#f5f5f5;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.image-zoom img{
    width:100%;
    height:100%;
    object-fit:contain;
    transition:transform .4s ease;
}
.image-zoom:hover img{
    transform:scale(1.4);
}

/* INFO */
.details-info h2{
    font-size:32px;
}
.price{
    font-size:30px;
    color:#388e3c;
    font-weight:600;
    margin:15px 0;
}
.sizes select{
    padding:10px;
    width:220px;
    font-size:15px;
}
.btn-group{
    display:flex;
    gap:20px;
    margin-top:10px;
}

.btn{
    padding:15px 28px;
    font-size:16px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.add-cart{
    background:#2874f0;
    color:#fff;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;               
}

.add-cart i{
    font-size:18px;
}

.add-cart:hover{
    background:#1e63d8;
}

.buy-now{background:#ff9f00;color:#fff;}

.buy-now:hover{
    background:#eb8705
}
.btn:disabled{background:#ccc}


@media(max-width:900px){
    .details-container{flex-direction:column;align-items:center}
    .image-zoom{width:100%;height:auto}
}

.product-desc{
    margin:20px 0 30px;
    font-size:15px;
    line-height:1.7;
    color:#555;
}

.sizes{
    margin-bottom:30px;
}
.sizes label{
    font-weight:500;
    margin-bottom:8px;
    display:block;
}

/* ===== Back to Home ===== */
.order-actions{
    display:flex;
    justify-content:space-between;
    padding:18px 22px;
    background:#fafafa;
}

.btn-home {
    background: #ff9f00;
    color: #fff;
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 14px;
}

.btn-home:hover {
    background: #e68900;
}